&__block {
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 4px 50px 0 rgba(18, 30, 49, 0.05);
	background-color: #FFFFFF;

	&-wrapper {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		width: 100%;
		@include adaptive(767) {
			padding-bottom: 10px;
		}

		> div {
			padding-bottom: 20px;
			@include adaptive(767) {
				padding-bottom: 10px;
			}
		}
	}

	&-row {
		display: flex;
		flex-wrap: wrap;

		> div {
			padding-right: 10px;
			@include adaptive(767) {
				width: 100%;
				padding-right: 0;

				&:not(:last-of-type) {
					padding-bottom: 10px;
				}
			}
		}
	}

	&-header {
		display: flex;
		align-items: center;

		p {
			padding-right: 10px;
			font-weight: bold;
			font-size: 16px;
			color: #33325C;
		}

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 24px;
			height: 24px;
			border-radius: 50%;

			&.success {
				background-color: #00b94f;
			}
			&.refresh {
				background-color: #4097d9;

				.icon-font {
					animation-duration: 1s;
					animation-fill-mode: both;
					animation-timing-function: linear;
					animation-iteration-count: infinite;
					animation-name: rotate;
				}
			}
			&.decline {
				background-color: #ed6459;
			}

			.icon-font {
				font-size: 14px;
				color: #ffffff;

				&.icon-checked {
					font-size: 9px;
				}
				&.icon-close {
					font-size: 10px;
				}
			}
		}
	}

	&-body {
		display: flex;
		flex-wrap: wrap;

		.validate-dashboard__box {
			&:not(:last-of-type) {
				margin-right: 10px;
				@include adaptive(767) {
					margin-right: 0;
				}
			}
		}
	}
}
