&__header {
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 15px 20px 20px 100px;
	background-color: #F9F9F9;
	@include adaptive(1279) {
		padding-top: 80px;
		padding-left: 20px;
	}

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 110px;
		width: calc(100% - 140px);
		height: 1px;
		background-color: rgba(#121E31, 0.1);
		@include adaptive(1279) {
			left: 20px;
			width: calc(100% - 40px);
		}
	}

	&-top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 15px;
		@include adaptive(1279) {
			display: none;
		}

		&--left {
			display: flex;
			align-items: center;
		}

		&--right {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&-bottom {
		position: relative;
		display: flex;
		background-color: rgba(#FFFFFF, 1);
		border-radius: 10px;
		box-shadow: 0 10px 80px 0 rgba(18, 30, 49, 0.05);
		@include adaptive(1023) {
		  flex-direction: column;
		}

		&--left {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 70px;
			padding: 10px 30px 10px 20px;
			border-radius: 10px 50px 50px 10px;
			background: linear-gradient(179.92deg, #4097D9 -23.94%, #30C4A0 53.12%, #00B94F 120.74%);
			@include adaptive(1279) {
				display: none;
			}

			p {
				padding-right: 20px;
				font-weight: 800;
				font-size: 16px;
				letter-spacing: 0.01em;
				color: #FFFFFF;
			}

			div {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translate(40%, -50%);
				display: flex;
				align-items: center;
				justify-content: center;
				width: 50px;
				height: 50px;
				padding: 5px;
				border-radius: 50%;
				border: 1px solid #FFFFFF;
				background-color: #66C68D;

				img {
					display: block;
					max-width: 100%;
					height: auto;
					max-height: 100%;
				}
			}
		}

		&--middle {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			height: 70px;
			padding: 15px 20px 15px 35px;
			@include adaptive(1279) {
				padding-left: 20px;
			}
		}

		&--right {
			display: flex;
			padding-left: 30px;
			padding-right: 20px;
			border-radius: 0 10px 10px 50px;
			background-color: #ECEEF3;
			@include adaptive(1023) {
				border-radius: 0 0 10px 10px;
			}

			a {
				display: flex;
				align-items: center;
				height: 70px;
				font-weight: bold;
				font-size: 14px;
				line-height: 17px;
				text-align: center;
				color: #130F26;
				@include transition(color);

				&:not(:first-of-type) {
					margin-left: 30px;
				}

				&.is-disabled {
					pointer-events: none;
					color: rgba(#130F26, 0.3);
				}

				&.is-active {
					color: #4097d9;
				}

				&:hover {
					color: #4097D9;
					@include transition(color);
				}
			}
		}
	}

	&-info {
		display: flex;
		align-items: center;
		width: 100%;
		height: 50px;
		padding: 10px 20px;
		margin-top: 20px;
		border-radius: 10px;

		&-wrapper {
			display: flex;
			flex-direction: column;
		}

		&.is-error {
			background-color: rgba(#ED2414, 0.1);

			.icon-font,
			p {
				color: rgba(#ED2414, 1);
			}
			.icon-font.icon-warning {
				display: flex;
			}
		}
		&.is-success {
			background-color: rgba(#00B94F, 0.1);

			.icon-font,
			p {
				color: rgba(#00B94F, 1);
			}
			.icon-font.icon-success {
				display: flex;
			}
		}
		&.is-info {
			background-color: rgba(#4097D9, 0.1);

			.icon-font,
			p {
				color: rgba(#4097D9, 1);
			}
			.icon-font.icon-info {
				display: flex;
			}
		}

		&-left {
			width: 16px;

			.icon-font {
				display: none;
				font-size: 16px;

				&.icon-success {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 17px;
					height: 17px;
					border: 3px solid #00B94F;
					border-radius: 4px;
				}
			}
		}

		&-right {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			padding-left: 20px;

			p {
				font-weight: 600;
				font-size: 14px;
				letter-spacing: 0.01em;
			}
		}
	}

	&-option {
		display: flex;
		align-items: center;
		margin-right: 50px;

		a {
			display: flex;
			align-items: center;

			&:not(:last-of-type) {
				margin-right: 15px;
			}

			.icon-font {
				font-size: 20px;
				color: #4D508F;
			}
		}
	}

	&-list {
		display: flex;
		align-items: center;
		height: 40px;

		li {
			display: flex;
			align-items: center;
			height: 100%;

			&:not(:last-of-type) {
				padding-right: 20px;
				margin-right: 20px;
				border-right: 1px solid rgba(#636B73, 0.1);
			}
		}
	}

	&-label {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100px;
		height: 40px;
		border-radius: 2rem;
		background-color: rgba(#10BD6A, 0.1);

		p {
			font-weight: 600;
			font-size: 14px;
			text-align: center;
			color: #10BD6A;
		}
	}

	&-dropdown {
		position: relative;
		display: flex;
		flex-direction: column;

		&-toggle {
			display: flex;
			align-items: center;
			width: 100%;
			min-height: 35px;

			&.is-active {
				.icon-font {
					transform: scaleY(-1);
					@include transition(transform);
				}
			}

			span,
			.icon-font {
				color: #4097D9;
			}

			span {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				flex: 1;
				min-width: 110px;
				max-width: 110px;
				font-weight: 600;
				font-size: 14px;
			}

			.icon-font {
				margin-left: 10px;
				font-size: 14px;
				transform-origin: center;
				@include transition(transform);
			}
		}

		&-container {
			z-index: 99;
			overflow: hidden;
			overflow-y: auto;
			opacity: 0;
			visibility: hidden;
			transform: translate(-50%, -5px);
			position: absolute;
			top: 100%;
			left: 50%;
			width: 100%;
			min-width: 165px;
			max-height: 180px;
			box-shadow: 0 10px 30px 0 rgba(0, 26, 54, 0.2);
			border-radius: 3px;
			background-color: #FFFFFF;
			@include transition(opacity, visibility, transform);

			&.is-open {
				opacity: 1;
				visibility: visible;
				transform: translate(-50%, 0);
				@include transition(opacity, visibility, transform);
			}

			&-cover {
				padding: 10px 0;
			}

			a {
				display: flex;
				align-items: center;
				min-height: 30px;
				padding-left: 15px;
				padding-right: 15px;
				background-color: transparent;
				font-weight: 600;
				font-size: 12px;
				color: #33325C;
				@include transition(background-color, color);

				//&:not(:last-of-type) {
				//	margin-bottom: 15px;
				//}

				&:hover {
					color: #4097D9;
					background-color: #ECEEF3;
					@include transition(background-color, color);
				}
			}
		}
	}

	&-action {
		display: flex;
		align-items: center;

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 30px;
			height: 30px;
			border-radius: 50%;

			&.save {
				font-size: 20px;
				color: #4097d9;
			}

			&.play {
				background-color: #4097d9;

				&.is-disabled {
					background-color: rgba(#121E31, 0.5);
				}

				.icon-font {
					color: #ffffff;
					font-size: 10px;
				}
			}

			&.is-disabled {
				pointer-events: none;
				color: rgba(#121E31, 0.5);
			}

			&:not(:last-of-type) {
				margin-right: 20px;
			}
		}
	}
}
