&__box {
	display: flex;
	flex-direction: column;
	padding-top: 15px;
	@include adaptive(767) {
		align-items: flex-start;
		width: 100%;

		&.dashboard__box--half {
			width: calc((100% - 10px) / 2);
			margin-right: 0 !important;

			& + .dashboard__box--half {
				margin-left: 10px;
			}

			.dashboard__box-body {
				width: 100%;
				height: 100%;

				ul {
					justify-content: center;

					li {
						width: 100%;
					}
				}
			}
		}
	}

	&-header {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 10px;
		text-align: center;

		p {
			font-weight: 600;
			font-size: 13px;
			color: #4097D9;
		}
	}

	&-body {
		flex: 1;
		min-height: 1px;
		max-height: 100%;
		padding: 15px 20px 10px;
		border: 1px solid rgba(#121E31, 0.1);
		border-radius: 10px;
		@include adaptive(767) {
		  flex: unset;

			&.is-2 {
				width: 100%;
				padding-left: 0;
				padding-right: 0;

				ul {
					width: 100%;

					li {
						width: 50%;
						margin-right: 0 !important;

						&:after {
							right: 0 !important;
						}
					}
				}
			}
			&.is-3,
			&.is-4,
			&.is-5 {
				width: 100%;
				padding-left: 0;
				padding-right: 0;

				ul {
					width: 100%;

					li {
						width: calc(100% / 3);
						margin-right: 0 !important;

						&:nth-of-type(4),
						&:nth-of-type(5),
						&:nth-of-type(6) {
							margin-top: 10px;
						}

						&:nth-of-type(3) {
							&:after {
								display: none;
							}
						}

						&:after {
							right: 0 !important;
						}
					}
				}
			}
		}

		ul {
			display: flex;
			align-items: flex-start;
			@include adaptive(767) {
				flex-wrap: wrap;
			}

			li {
				position: relative;
				display: flex;
				align-items: center;
				flex-direction: column;
				min-width: 70px;

				&:not(:last-of-type) {
					margin-right: 40px;

					&:after {
						content: '';
						position: absolute;
						top: 6px;
						right: -20px;
						width: 1px;
						height: 40px;
						background-color: rgba(#121E31, 0.1);
					}
				}

				a {
					position: relative;
					display: flex;
					justify-content: center;
					margin-bottom: 5px;
					font-weight: 800;
					font-size: 20px;
					text-align: center;

					&:nth-of-type(2) {
						font-weight: bold;
						font-size: 12px;
						text-align: center;
						color: #33325C;
					}

					&:after {
						content: '';
						opacity: 0;
						position: absolute;
						top: calc(100% - 2px);
						left: 0;
						width: 100%;
						height: 1px;
						@include transition(opacity);
					}

					&:hover {
						&:after {
							opacity: 1;
							@include transition(opacity);
						}
					}

					&.green {
						color: #00B94F;

						&:after {
							background-color: #00B94F;
						}
					}
					&.gold {
						color: #CB9B29;

						&:after {
							background-color: #CB9B29;
						}
					}
					&.red {
						color: #C14F45;

						&:after {
							background-color: #C14F45;
						}
					}
					&.orange {
						color: #F7C142;

						&:after {
							background-color: #F7C142;
						}
					}
				}

				span {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 24px;
					height: 24px;
					border-radius: 50%;
					margin-bottom: 9px;

					& + a {
						position: relative;
						display: flex;
						align-items: center;
						justify-content: center;
						margin-bottom: 5px;
						font-weight: bold;
						font-size: 12px;
						text-align: center;
						color: #33325C;
					}

					&.success {
						background-color: #00b94f;
					}
					&.refresh {
						background-color: #4097d9;

						.icon-font {
							animation-duration: 1s;
							animation-fill-mode: both;
							animation-timing-function: linear;
							animation-iteration-count: infinite;
							animation-name: rotate;
						}
					}
					&.decline {
						background-color: #ed6459;
					}

					.icon-font {
						font-size: 14px;
						color: #ffffff;

						&.icon-checked {
							font-size: 9px;
						}
						&.icon-close {
							font-size: 10px;
						}
					}
				}
			}
		}
	}
}

@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
