@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
/* line 14, src/scss/_utilities/_extend.scss */
.dashboard__profile-toggle div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
/* line 3, src/scss/_vendor/hamburger/_base.scss */
.hamburger {
  padding: 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.35s;
       -o-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

/* line 21, src/scss/_vendor/hamburger/_base.scss */
.hamburger:hover {
  opacity: 1;
}

/* line 31, src/scss/_vendor/hamburger/_base.scss */
.hamburger-box {
  width: 30px;
  height: 19px;
  display: inline-block;
  position: relative;
}

/* line 38, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}

/* line 43, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #fff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

/* line 56, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

/* line 62, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner::before {
  top: -8px;
}

/* line 66, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner::after {
  bottom: -8px;
}

/*
   * Squeeze
   */
/* line 6, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.075s;
       -o-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* line 10, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  -o-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

/* line 15, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* line 22, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
       -o-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* line 27, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  -o-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

/* line 34, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-account-framework:before, .icon-corner:before, .icon-data-protection:before, .icon-digital:before, .icon-exit:before, .icon-governance:before, .icon-identity-access:before, .icon-infrastructure:before, .icon-monitoring:before, .icon-network:before, .icon-notification:before, .icon-play:before, .icon-profile:before, .icon-save:before, .icon-security:before, .icon-setting:before, .icon-sort:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-account-framework:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-corner:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-data-protection:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-digital:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-exit:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-governance:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-identity-access:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-infrastructure:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-monitoring:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-network:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-notification:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-play:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-profile:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-save:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-security:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-setting:before {
  content: "";
}

/* line 86, src/scss/_generated/_spriteFont.scss */
.icon-sort:before {
  content: "";
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  width: 100%;
  overflow: hidden !important;
}

/* line 13, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 19, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 33, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 38, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 44, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 51, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 54, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 61, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 71, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 77, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 83, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 89, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 95, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 100, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 108, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 113, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 119, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 124, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 131, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 135, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 3, src/scss/_shared/_common.scss */
.c-popper {
  position: relative;
}

/* line 7, src/scss/_shared/_common.scss */
.c-popper:hover .c-poppertext {
  opacity: 1;
  visibility: visible;
  z-index: 1000;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* line 15, src/scss/_shared/_common.scss */
.c-popper .c-poppertext {
  opacity: 0;
  visibility: hidden;
  display: block;
  z-index: -1;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 80px;
  max-width: 220px;
  padding-top: 10px;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* line 29, src/scss/_shared/_common.scss */
.c-popper .c-poppertext.c-poppertext--info {
  min-width: unset;
  max-width: unset;
}

/* line 33, src/scss/_shared/_common.scss */
.c-popper .c-poppertext.c-poppertext--info u {
  white-space: nowrap;
  min-height: unset;
  padding: 3px 5px 5px;
  border-color: #111a30;
  background-color: #111a30;
  color: #ffffff !important;
  font-size: 10px;
}

/* line 42, src/scss/_shared/_common.scss */
.c-popper .c-poppertext.c-poppertext--info u:after {
  content: '';
  position: absolute;
  top: -1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #111a30 transparent;
}

/* line 57, src/scss/_shared/_common.scss */
.c-popper .c-poppertext > u {
  white-space: nowrap;
  display: block;
  width: 100%;
  min-height: 29px;
  padding: 10px 15px;
  border-width: 1px;
  border-color: #a0c2f9;
  border-style: solid;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: white;
  -webkit-box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.14);
  text-decoration: none;
  color: #303030;
  font-size: 14px;
  text-align: center;
}

/* line 74, src/scss/_shared/_common.scss */
.c-popper .c-poppertext > u .c-btn {
  width: 100%;
  min-width: unset;
  height: 32px;
}

/* line 79, src/scss/_shared/_common.scss */
.c-popper .c-poppertext > u .c-btn span {
  font-size: 12px;
  text-transform: capitalize;
}

/* line 84, src/scss/_shared/_common.scss */
.c-popper .c-poppertext > u .c-btn .icon-font {
  margin-right: 0;
  margin-left: 10px;
  font-size: 14px;
}

/* line 90, src/scss/_shared/_common.scss */
.c-popper .c-poppertext > u .c-btn__wrapper {
  width: 100%;
  padding-top: 5px;
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 3, src/scss/_components/_dashboard.scss */
.dashboard {
  position: relative;
}

/* line 6, src/scss/_components/_dashboard.scss */
.dashboard__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding-top: 180px;
  padding-left: 110px;
  padding-right: 30px;
}

/* line 14, src/scss/_components/_dashboard.scss */
.dashboard__sidebar {
  z-index: 100;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80px;
  height: 100%;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: 10px 0px 50px rgba(18, 30, 49, 0);
          box-shadow: 10px 0px 50px rgba(18, 30, 49, 0);
  background: -webkit-linear-gradient(270.08deg, #4097D9 -23.94%, #30C4A0 53.12%, #00B94F 120.74%);
  background: -o-linear-gradient(270.08deg, #4097D9 -23.94%, #30C4A0 53.12%, #00B94F 120.74%);
  background: linear-gradient(179.92deg, #4097D9 -23.94%, #30C4A0 53.12%, #00B94F 120.74%);
  -webkit-transition: width 0.3s ease-in-out, -webkit-border-radius 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, -webkit-border-radius 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-border-radius 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 29, src/scss/_components/_dashboard.scss */
.dashboard__sidebar.is-open {
  width: 400px;
  -webkit-border-radius: 0 40px 40px 0;
          border-radius: 0 40px 40px 0;
  -webkit-box-shadow: 10px 0px 50px rgba(18, 30, 49, 0.2);
          box-shadow: 10px 0px 50px rgba(18, 30, 49, 0.2);
  -webkit-transition: width 0.3s ease-in-out, -webkit-border-radius 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, -webkit-border-radius 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-border-radius 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 35, src/scss/_components/_dashboard.scss */
.dashboard__sidebar.is-open .c-poppertext {
  display: none !important;
}

/* line 40, src/scss/_components/_dashboard.scss */
.dashboard__sidebar.is-open .dashboard__sidebar-top .hamburger {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 44, src/scss/_components/_dashboard.scss */
.dashboard__sidebar.is-open .dashboard__sidebar-top .hamburger .hamburger-box {
  -webkit-transform: scale(0.55);
      -ms-transform: scale(0.55);
          transform: scale(0.55);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 52, src/scss/_components/_dashboard.scss */
.dashboard__sidebar-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  padding: 15px;
}

/* line 59, src/scss/_components/_dashboard.scss */
.dashboard__sidebar-top .dashboard__logo {
  display: none;
}

/* line 63, src/scss/_components/_dashboard.scss */
.dashboard__sidebar-top .hamburger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  margin-left: 9px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 73, src/scss/_components/_dashboard.scss */
.dashboard__sidebar-top .hamburger .hamburger-box {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 80, src/scss/_components/_dashboard.scss */
.dashboard__sidebar-bottom {
  overflow-y: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 1px;
  max-height: 100%;
  padding-left: 15px;
}

/* line 90, src/scss/_components/_dashboard.scss */
.dashboard__sidebar-btn {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

/* line 96, src/scss/_components/_dashboard.scss */
.dashboard__sidebar-btn:hover .dashboard__sidebar-btn-circle {
  background-color: #ffffff;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 100, src/scss/_components/_dashboard.scss */
.dashboard__sidebar-btn:hover .dashboard__sidebar-btn-circle .icon-font {
  color: #4097d9;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 107, src/scss/_components/_dashboard.scss */
.dashboard__sidebar-btn-circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 118, src/scss/_components/_dashboard.scss */
.dashboard__sidebar-btn-circle .icon-font {
  color: #ffffff;
  font-size: 20px;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 123, src/scss/_components/_dashboard.scss */
.dashboard__sidebar-btn-circle .icon-font.icon-account-framework, .dashboard__sidebar-btn-circle .icon-font.icon-identity-access, .dashboard__sidebar-btn-circle .icon-font.icon-monitoring, .dashboard__sidebar-btn-circle .icon-font.icon-data-protection, .dashboard__sidebar-btn-circle .icon-font.icon-digital {
  font-size: 16px;
}

/* line 133, src/scss/_components/_dashboard.scss */
.dashboard__sidebar-btn-describe {
  white-space: nowrap;
  display: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-top: 12px;
  padding-left: 20px;
}

/* line 142, src/scss/_components/_dashboard.scss */
.dashboard__sidebar-btn-describe p {
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

/* line 150, src/scss/_components/_dashboard.scss */
.dashboard__sidebar-btn-describe button {
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: transparent;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.5);
}

/* line 170, src/scss/_components/_dashboard.scss */
.dashboard__header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 20px 30px 40px 110px;
}

/* line 180, src/scss/_components/_dashboard.scss */
.dashboard__header:after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 110px;
  width: -webkit-calc(100% - 140px);
  width: calc(100% - 140px);
  height: 1px;
  background-color: rgba(18, 30, 49, 0.1);
}

/* line 190, src/scss/_components/_dashboard.scss */
.dashboard__header-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}

/* line 196, src/scss/_components/_dashboard.scss */
.dashboard__header-top--left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 201, src/scss/_components/_dashboard.scss */
.dashboard__header-top--right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 208, src/scss/_components/_dashboard.scss */
.dashboard__header-bottom {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 10px 80px 0 rgba(18, 30, 49, 0.05);
          box-shadow: 0 10px 80px 0 rgba(18, 30, 49, 0.05);
}

/* line 215, src/scss/_components/_dashboard.scss */
.dashboard__header-bottom--left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  padding: 10px 10px 10px 20px;
  -webkit-border-radius: 10px 50px 50px 10px;
          border-radius: 10px 50px 50px 10px;
  background: -webkit-linear-gradient(270.08deg, #4097D9 -23.94%, #30C4A0 53.12%, #00B94F 120.74%);
  background: -o-linear-gradient(270.08deg, #4097D9 -23.94%, #30C4A0 53.12%, #00B94F 120.74%);
  background: linear-gradient(179.92deg, #4097D9 -23.94%, #30C4A0 53.12%, #00B94F 120.74%);
}

/* line 223, src/scss/_components/_dashboard.scss */
.dashboard__header-bottom--left p {
  padding-right: 20px;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

/* line 231, src/scss/_components/_dashboard.scss */
.dashboard__header-bottom--left div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid #FFFFFF;
  background-color: #66C68D;
}

/* line 241, src/scss/_components/_dashboard.scss */
.dashboard__header-bottom--left div img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 249, src/scss/_components/_dashboard.scss */
.dashboard__header-bottom--middle {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  height: 70px;
  padding: 15px 20px;
}

/* line 257, src/scss/_components/_dashboard.scss */
.dashboard__header-bottom--right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-radius: 0 10px 10px 50px;
          border-radius: 0 10px 10px 50px;
  background-color: #ECEEF3;
}

/* line 264, src/scss/_components/_dashboard.scss */
.dashboard__header-bottom--right a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  margin-left: 30px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #130F26;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 276, src/scss/_components/_dashboard.scss */
.dashboard__header-bottom--right a.is-disabled {
  pointer-events: none;
  color: rgba(19, 15, 38, 0.3);
}

/* line 281, src/scss/_components/_dashboard.scss */
.dashboard__header-bottom--right a:hover {
  color: #4097D9;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 289, src/scss/_components/_dashboard.scss */
.dashboard__header-option {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

/* line 294, src/scss/_components/_dashboard.scss */
.dashboard__header-option a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 298, src/scss/_components/_dashboard.scss */
.dashboard__header-option a:not(:last-of-type) {
  margin-right: 15px;
}

/* line 302, src/scss/_components/_dashboard.scss */
.dashboard__header-option a .icon-font {
  font-size: 20px;
  color: #4D508F;
}

/* line 309, src/scss/_components/_dashboard.scss */
.dashboard__header-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

/* line 314, src/scss/_components/_dashboard.scss */
.dashboard__header-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

/* line 319, src/scss/_components/_dashboard.scss */
.dashboard__header-list li:not(:last-of-type) {
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid rgba(99, 107, 115, 0.1);
}

/* line 327, src/scss/_components/_dashboard.scss */
.dashboard__header-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 40px;
  -webkit-border-radius: 2rem;
          border-radius: 2rem;
  background-color: rgba(16, 189, 106, 0.1);
}

/* line 336, src/scss/_components/_dashboard.scss */
.dashboard__header-label p {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #10BD6A;
}

/* line 344, src/scss/_components/_dashboard.scss */
.dashboard__header-dropdown {
  position: relative;
}

/* line 347, src/scss/_components/_dashboard.scss */
.dashboard__header-dropdown a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 351, src/scss/_components/_dashboard.scss */
.dashboard__header-dropdown a span,
.dashboard__header-dropdown a .icon-font {
  color: #4097D9;
}

/* line 356, src/scss/_components/_dashboard.scss */
.dashboard__header-dropdown a span {
  font-weight: 600;
  font-size: 14px;
}

/* line 361, src/scss/_components/_dashboard.scss */
.dashboard__header-dropdown a .icon-font {
  margin-left: 10px;
  font-size: 14px;
}

/* line 368, src/scss/_components/_dashboard.scss */
.dashboard__header-action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 372, src/scss/_components/_dashboard.scss */
.dashboard__header-action a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 377, src/scss/_components/_dashboard.scss */
.dashboard__header-action a.save {
  font-size: 20px;
  color: rgba(18, 30, 49, 0.5);
}

/* line 382, src/scss/_components/_dashboard.scss */
.dashboard__header-action a.play {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #4097d9;
}

/* line 388, src/scss/_components/_dashboard.scss */
.dashboard__header-action a.play .icon-font {
  color: #ffffff;
  font-size: 10px;
}

/* line 394, src/scss/_components/_dashboard.scss */
.dashboard__header-action a:not(:last-of-type) {
  margin-right: 30px;
}

/* line 401, src/scss/_components/_dashboard.scss */
.dashboard__profile {
  position: relative;
}

/* line 405, src/scss/_components/_dashboard.scss */
.dashboard__profile:hover .dashboard__profile-dropdown {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 413, src/scss/_components/_dashboard.scss */
.dashboard__profile-toggle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 417, src/scss/_components/_dashboard.scss */
.dashboard__profile-toggle p {
  padding-right: 15px;
  font-weight: bold;
  font-size: 14px;
  color: #121E31;
}

/* line 424, src/scss/_components/_dashboard.scss */
.dashboard__profile-toggle div {
  overflow: hidden;
  position: relative;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #FFFFFF;
}

/* line 438, src/scss/_components/_dashboard.scss */
.dashboard__profile-dropdown {
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  position: absolute;
  top: -30px;
  right: -30px;
  width: 200px;
  padding: 30px 20px 20px 20px;
  -webkit-border-radius: 20px 0 0 20px;
          border-radius: 20px 0 0 20px;
  -webkit-box-shadow: 0 10px 80px 0 rgba(18, 30, 49, 0.05);
          box-shadow: 0 10px 80px 0 rgba(18, 30, 49, 0.05);
  background-color: #FFFFFF;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 453, src/scss/_components/_dashboard.scss */
.dashboard__profile-dropdown .dashboard__profile-toggle {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 456, src/scss/_components/_dashboard.scss */
.dashboard__profile-dropdown .dashboard__profile-toggle p {
  font-size: 18px;
}

/* line 460, src/scss/_components/_dashboard.scss */
.dashboard__profile-dropdown .dashboard__profile-toggle div {
  width: 50px;
  height: 50px;
}

/* line 467, src/scss/_components/_dashboard.scss */
.dashboard__profile-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 471, src/scss/_components/_dashboard.scss */
.dashboard__profile-info a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 12px;
  color: #10BD6A;
}

/* line 477, src/scss/_components/_dashboard.scss */
.dashboard__profile-info a:first-of-type {
  margin-bottom: 10px;
  font-size: 12px;
  color: #121E31;
}

/* line 485, src/scss/_components/_dashboard.scss */
.dashboard__profile-line {
  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(51, 50, 92, 0.2);
}

/* line 493, src/scss/_components/_dashboard.scss */
.dashboard__profile-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

/* line 498, src/scss/_components/_dashboard.scss */
.dashboard__profile-link:not(:last-of-type) {
  margin-bottom: 25px;
}

/* line 503, src/scss/_components/_dashboard.scss */
.dashboard__profile-link.dashboard__profile-link--admin .icon-font,
.dashboard__profile-link.dashboard__profile-link--admin span {
  color: #4097d9;
}

/* line 509, src/scss/_components/_dashboard.scss */
.dashboard__profile-link .icon-font {
  font-size: 16px;
  color: #33325c;
}

/* line 513, src/scss/_components/_dashboard.scss */
.dashboard__profile-link .icon-font + span {
  padding-left: 10px;
}

/* line 518, src/scss/_components/_dashboard.scss */
.dashboard__profile-link span {
  font-weight: 600;
  font-size: 14px;
  color: #33325C;
}

/* line 526, src/scss/_components/_dashboard.scss */
.dashboard__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 529, src/scss/_components/_dashboard.scss */
.dashboard__logo.dashboard__logo--sublogo {
  padding-right: 30px;
}

/* line 533, src/scss/_components/_dashboard.scss */
.dashboard__logo a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 537, src/scss/_components/_dashboard.scss */
.dashboard__logo a img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*# sourceMappingURL=maps/app.css.map */
