@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
/* line 14, src/scss/_utilities/_extend.scss */
.dashboard__profile-toggle div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
/* line 3, src/scss/_vendor/hamburger/_base.scss */
.hamburger {
  padding: 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.35s;
       -o-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

/* line 21, src/scss/_vendor/hamburger/_base.scss */
.hamburger:hover {
  opacity: 1;
}

/* line 31, src/scss/_vendor/hamburger/_base.scss */
.hamburger-box {
  width: 30px;
  height: 19px;
  display: inline-block;
  position: relative;
}

/* line 38, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}

/* line 43, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #fff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

/* line 56, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

/* line 62, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner::before {
  top: -8px;
}

/* line 66, src/scss/_vendor/hamburger/_base.scss */
.hamburger-inner::after {
  bottom: -8px;
}

/*
   * Squeeze
   */
/* line 6, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.075s;
       -o-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* line 10, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  -o-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

/* line 15, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* line 22, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
       -o-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* line 27, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  -o-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

/* line 34, src/scss/_vendor/hamburger/types/_squeeze.scss */
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-account-framework:before, .icon-checked:before, .icon-close:before, .icon-corner:before, .icon-data-protection:before, .icon-digital:before, .icon-exit:before, .icon-governance:before, .icon-identity-access:before, .icon-infrastructure:before, .icon-monitoring:before, .icon-network:before, .icon-notification:before, .icon-play:before, .icon-profile:before, .icon-refresh:before, .icon-save:before, .icon-security:before, .icon-setting:before, .icon-sort:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 95, src/scss/_generated/_spriteFont.scss */
.icon-account-framework:before {
  content: "";
}

/* line 95, src/scss/_generated/_spriteFont.scss */
.icon-checked:before {
  content: "";
}

/* line 95, src/scss/_generated/_spriteFont.scss */
.icon-close:before {
  content: "";
}

/* line 95, src/scss/_generated/_spriteFont.scss */
.icon-corner:before {
  content: "";
}

/* line 95, src/scss/_generated/_spriteFont.scss */
.icon-data-protection:before {
  content: "";
}

/* line 95, src/scss/_generated/_spriteFont.scss */
.icon-digital:before {
  content: "";
}

/* line 95, src/scss/_generated/_spriteFont.scss */
.icon-exit:before {
  content: "";
}

/* line 95, src/scss/_generated/_spriteFont.scss */
.icon-governance:before {
  content: "";
}

/* line 95, src/scss/_generated/_spriteFont.scss */
.icon-identity-access:before {
  content: "";
}

/* line 95, src/scss/_generated/_spriteFont.scss */
.icon-infrastructure:before {
  content: "";
}

/* line 95, src/scss/_generated/_spriteFont.scss */
.icon-monitoring:before {
  content: "";
}

/* line 95, src/scss/_generated/_spriteFont.scss */
.icon-network:before {
  content: "";
}

/* line 95, src/scss/_generated/_spriteFont.scss */
.icon-notification:before {
  content: "";
}

/* line 95, src/scss/_generated/_spriteFont.scss */
.icon-play:before {
  content: "";
}

/* line 95, src/scss/_generated/_spriteFont.scss */
.icon-profile:before {
  content: "";
}

/* line 95, src/scss/_generated/_spriteFont.scss */
.icon-refresh:before {
  content: "";
}

/* line 95, src/scss/_generated/_spriteFont.scss */
.icon-save:before {
  content: "";
}

/* line 95, src/scss/_generated/_spriteFont.scss */
.icon-security:before {
  content: "";
}

/* line 95, src/scss/_generated/_spriteFont.scss */
.icon-setting:before {
  content: "";
}

/* line 95, src/scss/_generated/_spriteFont.scss */
.icon-sort:before {
  content: "";
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  width: 100%;
  overflow: hidden !important;
}

/* line 13, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 19, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 33, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 38, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 44, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 51, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 54, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 61, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 71, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 77, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 83, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 89, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 95, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 100, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 108, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 113, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 119, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 124, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 131, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 135, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 3, src/scss/_components/dashboard/_dashboard.scss */
.dashboard {
  position: relative;
}

/* line 6, src/scss/_components/dashboard/_dashboard.scss */
.dashboard__wrapper {
  overflow: hidden;
  overflow-y: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: -webkit-calc(100vh - 190px);
  min-height: calc(100vh - 190px);
  max-height: -webkit-calc(100vh - 190px);
  max-height: calc(100vh - 190px);
  margin-top: 190px;
  padding-top: 20px;
  padding-left: 110px;
  padding-right: 30px;
}

/* line 18, src/scss/_components/dashboard/_dashboard.scss */
.dashboard__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 21, src/scss/_components/dashboard/_dashboard.scss */
.dashboard__logo.dashboard__logo--sublogo {
  padding-right: 30px;
}

/* line 25, src/scss/_components/dashboard/_dashboard.scss */
.dashboard__logo a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 29, src/scss/_components/dashboard/_dashboard.scss */
.dashboard__logo a img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 1, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar {
  z-index: 100;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80px;
  height: 100%;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: 10px 0 50px 0 rgba(18, 30, 49, 0);
          box-shadow: 10px 0 50px 0 rgba(18, 30, 49, 0);
  background: -webkit-linear-gradient(270.08deg, #4097D9 -23.94%, #30C4A0 53.12%, #00B94F 120.74%);
  background: -o-linear-gradient(270.08deg, #4097D9 -23.94%, #30C4A0 53.12%, #00B94F 120.74%);
  background: linear-gradient(179.92deg, #4097D9 -23.94%, #30C4A0 53.12%, #00B94F 120.74%);
  -webkit-transition: width 0.3s ease-in-out, -webkit-border-radius 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, -webkit-border-radius 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-border-radius 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 16, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar.is-open {
  width: 400px;
  -webkit-border-radius: 0 40px 40px 0;
          border-radius: 0 40px 40px 0;
  -webkit-box-shadow: 10px 0px 50px rgba(18, 30, 49, 0.2);
          box-shadow: 10px 0px 50px rgba(18, 30, 49, 0.2);
  -webkit-transition: width 0.3s ease-in-out, -webkit-border-radius 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, -webkit-border-radius 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-border-radius 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 22, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar.is-open .c-poppertext {
  display: none !important;
}

/* line 27, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar.is-open .dashboard__sidebar-top .hamburger {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 31, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar.is-open .dashboard__sidebar-top .hamburger .hamburger-box {
  -webkit-transform: scale(0.55);
      -ms-transform: scale(0.55);
          transform: scale(0.55);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 39, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  padding: 15px;
}

/* line 46, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-top .dashboard__logo {
  display: none;
}

/* line 50, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-top .hamburger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  margin-left: 9px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 60, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-top .hamburger .hamburger-box {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 67, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-bottom {
  overflow: hidden;
  overflow-y: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 1px;
  max-height: 100%;
  padding-left: 15px;
  padding-bottom: 15px;
}

/* line 79, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-collapse {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  max-height: 100%;
}

/* line 86, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-collapse > div {
  padding-bottom: 20px;
}

/* line 90, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-collapse-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 95, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-collapse-head > div:nth-of-type(1) {
  width: 50px;
}

/* line 98, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-collapse-head > div:nth-of-type(2) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-left: 20px;
}

/* line 108, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-collapse-body {
  display: none;
  padding-left: 70px;
}

/* line 112, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-collapse-body > div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 116, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-collapse-body a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 123, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-collapse-body a:hover {
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 128, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-collapse-body a:not(:last-of-type) {
  margin-bottom: 10px;
}

/* line 135, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 146, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-circle:hover {
  background-color: #ffffff;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 150, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-circle:hover .icon-font {
  color: #4097d9;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 156, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-circle .icon-font {
  color: #ffffff;
  font-size: 20px;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 161, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-circle .icon-font.icon-account-framework, .dashboard__sidebar-circle .icon-font.icon-identity-access, .dashboard__sidebar-circle .icon-font.icon-monitoring, .dashboard__sidebar-circle .icon-font.icon-data-protection, .dashboard__sidebar-circle .icon-font.icon-digital {
  font-size: 16px;
}

/* line 171, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-btn {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 177, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-btn:hover p:before, .dashboard__sidebar-btn:hover p:after {
  width: 50%;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

/* line 185, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-btn p {
  white-space: nowrap;
  position: relative;
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
}

/* line 192, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-btn p:before, .dashboard__sidebar-btn p:after {
  content: '';
  position: absolute;
  top: 100%;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

/* line 203, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-btn p:before {
  left: 50%;
}

/* line 206, src/scss/_components/dashboard/_dashboard--sidebar.scss */
.dashboard__sidebar-btn p:after {
  right: 50%;
}

/* line 1, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 20px 30px 20px 110px;
  background-color: #F9F9F9;
}

/* line 12, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 110px;
  width: -webkit-calc(100% - 140px);
  width: calc(100% - 140px);
  height: 1px;
  background-color: rgba(18, 30, 49, 0.1);
}

/* line 22, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}

/* line 28, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-top--left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 33, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-top--right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 40, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-bottom {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 10px 80px 0 rgba(18, 30, 49, 0.05);
          box-shadow: 0 10px 80px 0 rgba(18, 30, 49, 0.05);
}

/* line 47, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-bottom--left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  padding: 10px 10px 10px 20px;
  -webkit-border-radius: 10px 50px 50px 10px;
          border-radius: 10px 50px 50px 10px;
  background: -webkit-linear-gradient(270.08deg, #4097D9 -23.94%, #30C4A0 53.12%, #00B94F 120.74%);
  background: -o-linear-gradient(270.08deg, #4097D9 -23.94%, #30C4A0 53.12%, #00B94F 120.74%);
  background: linear-gradient(179.92deg, #4097D9 -23.94%, #30C4A0 53.12%, #00B94F 120.74%);
}

/* line 55, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-bottom--left p {
  padding-right: 20px;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

/* line 63, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-bottom--left div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid #FFFFFF;
  background-color: #66C68D;
}

/* line 73, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-bottom--left div img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 81, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-bottom--middle {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  height: 70px;
  padding: 15px 20px;
}

/* line 89, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-bottom--right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  padding-right: 20px;
  -webkit-border-radius: 0 10px 10px 50px;
          border-radius: 0 10px 10px 50px;
  background-color: #ECEEF3;
}

/* line 96, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-bottom--right a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #130F26;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 107, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-bottom--right a:not(:first-of-type) {
  margin-left: 30px;
}

/* line 111, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-bottom--right a.is-disabled {
  pointer-events: none;
  color: rgba(19, 15, 38, 0.3);
}

/* line 116, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-bottom--right a:hover {
  color: #4097D9;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 124, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-option {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

/* line 129, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-option a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 133, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-option a:not(:last-of-type) {
  margin-right: 15px;
}

/* line 137, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-option a .icon-font {
  font-size: 20px;
  color: #4D508F;
}

/* line 144, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

/* line 149, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

/* line 154, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-list li:not(:last-of-type) {
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid rgba(99, 107, 115, 0.1);
}

/* line 162, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 40px;
  -webkit-border-radius: 2rem;
          border-radius: 2rem;
  background-color: rgba(16, 189, 106, 0.1);
}

/* line 171, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-label p {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #10BD6A;
}

/* line 179, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-dropdown {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 130px;
}

/* line 185, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-dropdown-toggle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

/* line 190, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-dropdown-toggle span,
.dashboard__header-dropdown-toggle .icon-font {
  color: #4097D9;
}

/* line 195, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-dropdown-toggle span {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  font-weight: 600;
  font-size: 14px;
}

/* line 203, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-dropdown-toggle .icon-font {
  margin-left: 10px;
  font-size: 14px;
}

/* line 209, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-dropdown-container {
  z-index: 99;
  overflow: hidden;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
  position: absolute;
  top: 100%;
  width: 100%;
  max-height: 180px;
  padding: 5px 0;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 4px 50px 0 rgba(18, 30, 49, 0.05);
          box-shadow: 0 4px 50px 0 rgba(18, 30, 49, 0.05);
  background-color: #FFFFFF;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 226, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-dropdown-container.is-open {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 234, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-dropdown-container a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #130F26;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 249, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-dropdown-container a:hover {
  background-color: #ECEEF3;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 257, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 261, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-action a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 266, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-action a.save {
  font-size: 20px;
  color: rgba(18, 30, 49, 0.5);
}

/* line 271, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-action a.play {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #4097d9;
}

/* line 277, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-action a.play .icon-font {
  color: #ffffff;
  font-size: 10px;
}

/* line 283, src/scss/_components/dashboard/_dashboard--header.scss */
.dashboard__header-action a:not(:last-of-type) {
  margin-right: 30px;
}

/* line 1, src/scss/_components/dashboard/_dashboard--profile.scss */
.dashboard__profile {
  position: relative;
}

/* line 5, src/scss/_components/dashboard/_dashboard--profile.scss */
.dashboard__profile:hover .dashboard__profile-dropdown {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 13, src/scss/_components/dashboard/_dashboard--profile.scss */
.dashboard__profile-toggle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 17, src/scss/_components/dashboard/_dashboard--profile.scss */
.dashboard__profile-toggle p {
  padding-right: 15px;
  font-weight: bold;
  font-size: 14px;
  color: #121E31;
}

/* line 24, src/scss/_components/dashboard/_dashboard--profile.scss */
.dashboard__profile-toggle div {
  overflow: hidden;
  position: relative;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #FFFFFF;
}

/* line 38, src/scss/_components/dashboard/_dashboard--profile.scss */
.dashboard__profile-dropdown {
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  position: absolute;
  top: -30px;
  right: -30px;
  width: 200px;
  padding: 30px 20px 20px 20px;
  -webkit-border-radius: 20px 0 0 20px;
          border-radius: 20px 0 0 20px;
  -webkit-box-shadow: 0 10px 80px 0 rgba(18, 30, 49, 0.05);
          box-shadow: 0 10px 80px 0 rgba(18, 30, 49, 0.05);
  background-color: #FFFFFF;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 53, src/scss/_components/dashboard/_dashboard--profile.scss */
.dashboard__profile-dropdown .dashboard__profile-toggle {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 56, src/scss/_components/dashboard/_dashboard--profile.scss */
.dashboard__profile-dropdown .dashboard__profile-toggle p {
  font-size: 18px;
}

/* line 60, src/scss/_components/dashboard/_dashboard--profile.scss */
.dashboard__profile-dropdown .dashboard__profile-toggle div {
  width: 50px;
  height: 50px;
}

/* line 67, src/scss/_components/dashboard/_dashboard--profile.scss */
.dashboard__profile-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 71, src/scss/_components/dashboard/_dashboard--profile.scss */
.dashboard__profile-info a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 12px;
  color: #10BD6A;
}

/* line 77, src/scss/_components/dashboard/_dashboard--profile.scss */
.dashboard__profile-info a:first-of-type {
  margin-bottom: 10px;
  font-size: 12px;
  color: #121E31;
}

/* line 85, src/scss/_components/dashboard/_dashboard--profile.scss */
.dashboard__profile-line {
  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(51, 50, 92, 0.2);
}

/* line 93, src/scss/_components/dashboard/_dashboard--profile.scss */
.dashboard__profile-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

/* line 98, src/scss/_components/dashboard/_dashboard--profile.scss */
.dashboard__profile-link:not(:last-of-type) {
  margin-bottom: 25px;
}

/* line 103, src/scss/_components/dashboard/_dashboard--profile.scss */
.dashboard__profile-link.dashboard__profile-link--admin .icon-font,
.dashboard__profile-link.dashboard__profile-link--admin span {
  color: #4097d9;
}

/* line 109, src/scss/_components/dashboard/_dashboard--profile.scss */
.dashboard__profile-link .icon-font {
  font-size: 16px;
  color: #33325c;
}

/* line 113, src/scss/_components/dashboard/_dashboard--profile.scss */
.dashboard__profile-link .icon-font + span {
  padding-left: 10px;
}

/* line 118, src/scss/_components/dashboard/_dashboard--profile.scss */
.dashboard__profile-link span {
  font-weight: 600;
  font-size: 14px;
  color: #33325C;
}

/* line 1, src/scss/_components/dashboard/_dashboard--block.scss */
.dashboard__block {
  padding: 15px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 4px 50px 0 rgba(18, 30, 49, 0.05);
          box-shadow: 0 4px 50px 0 rgba(18, 30, 49, 0.05);
  background-color: #FFFFFF;
}

/* line 7, src/scss/_components/dashboard/_dashboard--block.scss */
.dashboard__block-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

/* line 13, src/scss/_components/dashboard/_dashboard--block.scss */
.dashboard__block-wrapper > div {
  padding-bottom: 20px;
}

/* line 18, src/scss/_components/dashboard/_dashboard--block.scss */
.dashboard__block-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

/* line 22, src/scss/_components/dashboard/_dashboard--block.scss */
.dashboard__block-row > div {
  padding-right: 10px;
}

/* line 27, src/scss/_components/dashboard/_dashboard--block.scss */
.dashboard__block-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 31, src/scss/_components/dashboard/_dashboard--block.scss */
.dashboard__block-header p {
  padding-right: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #33325C;
}

/* line 38, src/scss/_components/dashboard/_dashboard--block.scss */
.dashboard__block-header span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

/* line 46, src/scss/_components/dashboard/_dashboard--block.scss */
.dashboard__block-header span.success {
  background-color: #00b94f;
}

/* line 49, src/scss/_components/dashboard/_dashboard--block.scss */
.dashboard__block-header span.refresh {
  background-color: #4097d9;
}

/* line 52, src/scss/_components/dashboard/_dashboard--block.scss */
.dashboard__block-header span.decline {
  background-color: #ed6459;
}

/* line 56, src/scss/_components/dashboard/_dashboard--block.scss */
.dashboard__block-header span .icon-font {
  font-size: 14px;
  color: #ffffff;
}

/* line 60, src/scss/_components/dashboard/_dashboard--block.scss */
.dashboard__block-header span .icon-font.icon-checked {
  font-size: 9px;
}

/* line 63, src/scss/_components/dashboard/_dashboard--block.scss */
.dashboard__block-header span .icon-font.icon-close {
  font-size: 10px;
}

/* line 70, src/scss/_components/dashboard/_dashboard--block.scss */
.dashboard__block-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

/* line 75, src/scss/_components/dashboard/_dashboard--block.scss */
.dashboard__block-body .dashboard__box:not(:last-of-type) {
  margin-right: 10px;
}

/* line 1, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 15px;
}

/* line 6, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
  text-align: center;
}

/* line 13, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box-header p {
  font-weight: 600;
  font-size: 13px;
  color: #4097D9;
}

/* line 20, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 1px;
  max-height: 100%;
  padding: 15px 20px 10px;
  border: 1px solid rgba(18, 30, 49, 0.1);
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

/* line 28, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box-body ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 32, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box-body ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 70px;
}

/* line 38, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box-body ul li.empty {
  width: 1px;
  height: 40px;
  min-width: 1px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(18, 30, 49, 0.1);
}

/* line 47, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box-body ul li a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5px;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
}

/* line 56, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box-body ul li a:after {
  content: '';
  opacity: 0;
  position: absolute;
  top: -webkit-calc(100% - 2px);
  top: calc(100% - 2px);
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 68, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box-body ul li a:hover:after {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 74, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box-body ul li a.green {
  color: #00B94F;
}

/* line 77, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box-body ul li a.green:after {
  background-color: #00B94F;
}

/* line 81, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box-body ul li a.gold {
  color: #CB9B29;
}

/* line 84, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box-body ul li a.gold:after {
  background-color: #CB9B29;
}

/* line 88, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box-body ul li a.red {
  color: #C14F45;
}

/* line 91, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box-body ul li a.red:after {
  background-color: #C14F45;
}

/* line 95, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box-body ul li a.orange {
  color: #F7C142;
}

/* line 98, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box-body ul li a.orange:after {
  background-color: #F7C142;
}

/* line 104, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box-body ul li span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-bottom: 9px;
}

/* line 113, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box-body ul li span.success {
  background-color: #00b94f;
}

/* line 116, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box-body ul li span.refresh {
  background-color: #4097d9;
}

/* line 119, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box-body ul li span.decline {
  background-color: #ed6459;
}

/* line 123, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box-body ul li span .icon-font {
  font-size: 14px;
  color: #ffffff;
}

/* line 127, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box-body ul li span .icon-font.icon-checked {
  font-size: 9px;
}

/* line 130, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box-body ul li span .icon-font.icon-close {
  font-size: 10px;
}

/* line 136, src/scss/_components/dashboard/_dashboard--box.scss */
.dashboard__box-body ul li p {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  color: #33325C;
}

/*# sourceMappingURL=maps/app.css.map */
