.dashboard__header

  // TOP
  .dashboard__header-top

    .dashboard__header-top--left

      .dashboard__logo.dashboard__logo--sublogo
        a(href="#")
          img(src="img/sublogo.svg" alt="")

      .dashboard__logo.dashboard__logo--header
        a(href="#")
          img(src="img/logo-color.svg" alt="")

    .dashboard__header-top--right

      div

        .dashboard__header-option
          a(href="#")
            i.icon-font.icon-setting
          a(href="#")
            i.icon-font.icon-notification

      div

        .dashboard__profile
          a.dashboard__profile-toggle(href="#")
            p Ryan M
            div
              img(src="img/img-user.png" alt="")
          .dashboard__profile-dropdown
            .dashboard__profile-toggle
              p Ryan M
              div
                img(src="img/img-user.png" alt="")
            .dashboard__profile-info
              a(href="mailto:ryan@epic9.io") ryan@epic9.io
              a(href="#") Epic9
            .dashboard__profile-line
            div
              a.dashboard__profile-link(href="#")
                i.icon-font.icon-sort
                span Switch User
              a.dashboard__profile-link(href="#")
                i.icon-font.icon-exit
                span Sign out
            .dashboard__profile-line
            div
              a.dashboard__profile-link.dashboard__profile-link--admin(href="#")
                i.icon-font.icon-profile
                span Admin


  // BOTTOM
  .dashboard__header-bottom

    .dashboard__header-bottom--left

      p Dashboard
      div
        img(src="img/logo-aws.svg" alt="")

    .dashboard__header-bottom--middle

      ul.dashboard__header-list
        li

          .dashboard__header-label
            p Epic9

        li

          .dashboard__header-dropdown
            a.dashboard__header-dropdown-toggle(href="#")
              span NewEpicProject
              i.icon-font.icon-corner
            .dashboard__header-dropdown-container(data-simplebar)
              a(href="#" data-val='1') 1
              a(href="#" data-val='2') 2
              a(href="#" data-val='3') 3
              a(href="#" data-val='4') 4
              a(href="#" data-val='5') 5
              a(href="#" data-val='6') 6
              a(href="#" data-val='7') 7
              a(href="#" data-val='8') 8
              a(href="#" data-val='9') 9
              a(href="#" data-val='10') 10

        li

          .dashboard__header-action
            a.save(href="#")
              i.icon-font.icon-save
            a.play(href="#")
              i.icon-font.icon-play

    .dashboard__header-bottom--right

      a(href="#") Plan
      a(href="#") Design
      a(href="#") Build
      a(href="#") Configure
      a.is-disabled(href="#") Validate


  // INFO
  //  - is-error
  //  - is-info
  //  - is-success
  .dashboard__header-info-wrapper
    .dashboard__header-info.is-success
      .dashboard__header-info-left
        i.icon-font.icon-info
        i.icon-font.icon-warning
        i.icon-font.icon-success
      .dashboard__header-info-right
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra elit in in purus at lacus.
