.leftHandMenu__sidebar(menu-js)
  .leftHandMenu__sidebar-top

    div
      +hamburger
    div
      .dashboard__logo
        a(href="#")
          img(src="img/logo.svg" alt="")

  .leftHandMenu__sidebar-bottom

    .leftHandMenu__sidebar-collapse
      div.leftHandMenu__sidebar-collapse-cover
        .leftHandMenu__sidebar-collapse-head
          div
            a.leftHandMenu__sidebar-circle.c-popper(href='#')
              i.icon-font.icon-account-framework
              .c-poppertext.c-poppertext--info
                u!= "Account <br>Framework"
          div
            a.leftHandMenu__sidebar-btn(href='#')
              p Account Framework

        .leftHandMenu__sidebar-collapse-body
          div
            a(href="#") Enterprise Core Accounts
            a(href="#") Environment Strategy
            a(href="#") Application Accounts
            a(href="#") Developer Sandbox Acc.
      div.leftHandMenu__sidebar-collapse-cover
        .leftHandMenu__sidebar-collapse-head
          div
            a.leftHandMenu__sidebar-circle.c-popper(href='#')
              i.icon-font.icon-identity-access
              .c-poppertext.c-poppertext--info
                u!= "Identity <br>& Access"
          div
            a.leftHandMenu__sidebar-btn(href='#')
              p Identity & Access

        .leftHandMenu__sidebar-collapse-body
          div
            a(href="#") Okta Integration
            a(href="#") ADFS Integration
            a(href="#") AWS SSO Integration
      div.leftHandMenu__sidebar-collapse-cover
        .leftHandMenu__sidebar-collapse-head
          div
            a.leftHandMenu__sidebar-circle.c-popper(href='#')
              i.icon-font.icon-network
              .c-poppertext.c-poppertext--info
                u Network
          div
            a.leftHandMenu__sidebar-btn(href='#')
              p Network

        .leftHandMenu__sidebar-collapse-body
          div
            a(href="#") Data Center
            a(href="#") AWS Environment
            a(href="#") VPC Design
            a(href="#") VPC Factory
            a(href="#") Inter-VPC Connectivity
            a(href="#") Cross-region Connectivity
            a(href="#") VPN Connectivity
            a(href="#") DirectConnect
            a(href="#") Traffic Inspection
            a(href="#") VPC Endpoints
            a(href="#") Private DNS
      div.leftHandMenu__sidebar-collapse-cover
        .leftHandMenu__sidebar-collapse-head
          div
            a.leftHandMenu__sidebar-circle.c-popper(href='#')
              i.icon-font.icon-security
              .c-poppertext.c-poppertext--info
                u Security
          div
            a.leftHandMenu__sidebar-btn(href='#')
              p Security

        .leftHandMenu__sidebar-collapse-body
          div
            a(href="#") Compliance Management
            a(href="#") Intelligent Threat Detection
            a(href="#") Vulnerability Management
            a(href="#") Endpoint Protection
            a(href="#") Secrets Management
            a(href="#") Perimeter Protection
            a(href="#") SIEM
      div.leftHandMenu__sidebar-collapse-cover
        .leftHandMenu__sidebar-collapse-head
          div
            a.leftHandMenu__sidebar-circle.c-popper(href='#')
              i.icon-font.icon-infrastructure
              .c-poppertext.c-poppertext--info
                u Infrastructure
          div
            a.leftHandMenu__sidebar-btn(href='#')
              p Infrastructure

        .leftHandMenu__sidebar-collapse-body
          div
            a(href="#") Active Directory Integration
            a(href="#") Image Management
            a(href="#") Patch Management
            a(href="#") VDI Solution
      div.leftHandMenu__sidebar-collapse-cover
        .leftHandMenu__sidebar-collapse-head
          div
            a.leftHandMenu__sidebar-circle.c-popper(href='#')
              i.icon-font.icon-governance
              .c-poppertext.c-poppertext--info
                u Governance
          div
            a.leftHandMenu__sidebar-btn(href='#')
              p Governance

        .leftHandMenu__sidebar-collapse-body
          div
            a(href="#") Tagging Strategy
            a(href="#") Service Control Policies
            a(href="#") Config Rules
            a(href="#") Budget Enforcement
            a(href="#") AWS Limits Monitor
            a(href="#") ServiceNow Integration
      div.leftHandMenu__sidebar-collapse-cover
        .leftHandMenu__sidebar-collapse-head
          div
            a.leftHandMenu__sidebar-circle.c-popper(href='#')
              i.icon-font.icon-monitoring
              .c-poppertext.c-poppertext--info
                u Monitoring
          div
            a.leftHandMenu__sidebar-btn(href='#')
              p Monitoring

        .leftHandMenu__sidebar-collapse-body
          div
            a(href="#") CloudWatch Rules
            a(href="#") Centralized Logging
            a(href="#") Log Analytics
            a(href="#") Monitoring Tools Integration
      div.leftHandMenu__sidebar-collapse-cover
        .leftHandMenu__sidebar-collapse-head
          div
            a.leftHandMenu__sidebar-circle.c-popper(href='#')
              i.icon-font.icon-data-protection
              .c-poppertext.c-poppertext--info
                u!= "Data <br>Protection"
          div
            a.leftHandMenu__sidebar-btn(href='#')
              p Data Protection

        .leftHandMenu__sidebar-collapse-body
          div
            a(href="#") Backup & Archive
            a(href="#") Certificate Management
            a(href="#") Key Management
      div.leftHandMenu__sidebar-collapse-cover
        .leftHandMenu__sidebar-collapse-head
          div
            a.leftHandMenu__sidebar-circle.c-popper(href='#')
              i.icon-font.icon-digital
              .c-poppertext.c-poppertext--info
                u Digital
          div
            a.leftHandMenu__sidebar-btn(href='#')
              p Digital

        .leftHandMenu__sidebar-collapse-body
          div
            a(href="#") Containers
            a(href="#") ServerLess
            a(href="#") SaaS
