// SECTION :: START

section#dashboard.dashboard

  .dashboard__wrapper

    include _dashboard-sidebar
    include _dashboard-header
    include _dashboard-subheader
    include _dashboard--blockBox

    section#overlay.overlay

// SECTION :: END
