// SECTION :: START

section#dashboard.dashboard

  .dashboard__wrapper

      .dashboard__sidebar(menu-js)
        .dashboard__sidebar-top

          +hamburger

        .dashboard__sidebar-bottom

          a.dashboard__sidebar-btn(href="#")
            .dashboard__sidebar-btn-circle
              i.icon-font.icon-account-framework
            .dashboard__sidebar-btn-describe
              p Account Framework
          a.dashboard__sidebar-btn(href="#")
            .dashboard__sidebar-btn-circle
              i.icon-font.icon-identity-access
            .dashboard__sidebar-btn-describe
              p Identity & Access
              button Okta Integration
              button ADFS Integration
              button AWS SSO Integration
          a.dashboard__sidebar-btn(href="#")
            .dashboard__sidebar-btn-circle
              i.icon-font.icon-network
            .dashboard__sidebar-btn-describe
              p Network
          a.dashboard__sidebar-btn(href="#")
            .dashboard__sidebar-btn-circle
              i.icon-font.icon-security
            .dashboard__sidebar-btn-describe
              p Security
          a.dashboard__sidebar-btn(href="#")
            .dashboard__sidebar-btn-circle
              i.icon-font.icon-infrastructure
            .dashboard__sidebar-btn-describe
              p Infrastructure
          a.dashboard__sidebar-btn(href="#")
            .dashboard__sidebar-btn-circle
              i.icon-font.icon-governance
            .dashboard__sidebar-btn-describe
              p Governance
          a.dashboard__sidebar-btn(href="#")
            .dashboard__sidebar-btn-circle
              i.icon-font.icon-monitoring
            .dashboard__sidebar-btn-describe
              p Monitoring
          a.dashboard__sidebar-btn(href="#")
            .dashboard__sidebar-btn-circle
              i.icon-font.icon-data-protection
            .dashboard__sidebar-btn-describe
              p Data Protection
          a.dashboard__sidebar-btn(href="#")
            .dashboard__sidebar-btn-circle
              i.icon-font.icon-digital
            .dashboard__sidebar-btn-describe
              p Digital

      .dashboard__header

// SECTION :: END
