@font-face {
	font-family: "iconFont";
	src: url('../fonts/iconFont.eot');
	src: url('../fonts/iconFont.eot?#iefix') format('eot'),
		url('../fonts/iconFont.woff2') format('woff2'),
		url('../fonts/iconFont.woff') format('woff'),
		url('../fonts/iconFont.ttf') format('truetype'),
		url('../fonts/iconFont.svg#iconFont') format('svg');
}

@mixin icon-styles {
	font-family: "iconFont", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == account-framework {
		$char: "\E001";
	}
	@if $filename == corner {
		$char: "\E002";
	}
	@if $filename == data-protection {
		$char: "\E003";
	}
	@if $filename == digital {
		$char: "\E004";
	}
	@if $filename == exit {
		$char: "\E005";
	}
	@if $filename == governance {
		$char: "\E006";
	}
	@if $filename == identity-access {
		$char: "\E007";
	}
	@if $filename == infrastructure {
		$char: "\E008";
	}
	@if $filename == monitoring {
		$char: "\E009";
	}
	@if $filename == network {
		$char: "\E00A";
	}
	@if $filename == notification {
		$char: "\E00B";
	}
	@if $filename == play {
		$char: "\E00C";
	}
	@if $filename == profile {
		$char: "\E00D";
	}
	@if $filename == save {
		$char: "\E00E";
	}
	@if $filename == security {
		$char: "\E00F";
	}
	@if $filename == setting {
		$char: "\E010";
	}
	@if $filename == sort {
		$char: "\E011";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-account-framework {
	@include icon(account-framework);

}
.icon-corner {
	@include icon(corner);

}
.icon-data-protection {
	@include icon(data-protection);

}
.icon-digital {
	@include icon(digital);

}
.icon-exit {
	@include icon(exit);

}
.icon-governance {
	@include icon(governance);

}
.icon-identity-access {
	@include icon(identity-access);

}
.icon-infrastructure {
	@include icon(infrastructure);

}
.icon-monitoring {
	@include icon(monitoring);

}
.icon-network {
	@include icon(network);

}
.icon-notification {
	@include icon(notification);

}
.icon-play {
	@include icon(play);

}
.icon-profile {
	@include icon(profile);

}
.icon-save {
	@include icon(save);

}
.icon-security {
	@include icon(security);

}
.icon-setting {
	@include icon(setting);

}
.icon-sort {
	@include icon(sort);

}